<!DOCTYPE html>
<html lang="en">
<head>
 
 {{>header_link}}
</head>
<body>
   {{>navba}}
    <div class="container-fluid ">
        <div class="rows">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati repudiandae molestiae in, vel culpa, veniam corporis, rem reiciendis harum nemo error fugit illo excepturi modi nostrum provident reprehenderit omnis eos!</p>
                       
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <figure><img  class="ab-img"src="images/bg3.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <footer>
        <p>created with love by niraj</p>
    </footer>     
</body>
</html>