<!DOCTYPE html>
<html lang="en">
<head>
 
 {{>header_link}}
</head>
<body>
   {{>navba}}
    <div class="container-fluid ">
        <div class="rows">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-10 col-12 align-item-center">
                         <figure><img  class="ab-img"src="images/error.png" alt=""></figure>
                    
                        <p> {{errorMsg}} </p>
                        <a href="/"><button >Go Back</button></a>
   
                </div>
            </div>
        </div>
    </div>  
    
        
</body>
</html>