<!DOCTYPE html>
<html lang="en">
<head>
{{>header_link}}
</head>
<body>
    {{>navba}}
    </div>
    <div class="container-fluid ">
        <div class="rows">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>Get the latest <span style="color: #0097e6;">Weather </span>Info of your city</h1>
                        <a href="/weather"><button>Cheak now</button></a>

                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="./images/bg1.jpg" class=" w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="./images/bg2.png" class=" w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="./images/bg3.png" class=" w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <footer>
        <p>created with love by niraj</p>
    </footer>     
</body>
</html>